      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        
        <li class="home">
          <a class="" href="{{ base_url() }}">
            <i class="fa fa-home"></i> <span>Prima pagină</span>
          </a>
            <span class="pull-right-container">
              <div class="dropdown">
                <button class="btn btn-link" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cogs" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                  <li role="presentation">unu</li>
                  <li>unu</li>
                  <li>unu</li>
                </ul>
              </div>
            </span>
        </li>

        <li class="treeview active">
          <a href="#"><i class="fa fa-newspaper-o"></i> <span>Știri</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                <span class="label label-primary pull-right">4</span>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Politică</a></li>
            <li><a href="#">Administrație</a></li>
            <li class="active"><a href="#">Societate</a></li>
            <li><a href="#">Justiție</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Cultură</a></li>
            <li><a href="#">Educație</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Monden</a></li>
            <li><a href="#">În țară</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#"><i class="fa fa-calendar"></i> <span>Evenimente</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                <span class="label label-primary pull-right">4</span>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Afaceri & Profesie</a></li>
            <li><a href="#">Performing & Artă vizuală</a></li>
            <li><a href="#">Sănătate</a></li>
            <li><a href="#">Familie & Educație</a></li>
            <li><a href="#">Comunitate & Cultură</a></li>
            <li><a href="#">Film, Media & Divertisment</a></li>
            <li><a href="#">Fashion & Frumusețe</a></li>
            <li><a href="#">Știință & Tehnologie</a></li>
            <li><a href="#">Sport & Fitness</a></li>
            <li><a href="#">Hobby-uri & Interese speciale</a></li>
            <li><a href="#">Caritate & Cauze</a></li>
            <li><a href="#">Religie & Spiritualitate</a></li>
            <li><a href="#">Sezoniere & Vacanțe</a></li>
            <li><a href="#">Călătorii & Aer liber</a></li>
            <li><a href="#">Acasă & Stil de viață</a></li>
            <li><a href="#">Administrație & Politică</a></li>
            <li><a href="#">Altele</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#"><i class="fa fa-map-marker"></i> <span>Locuri</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                <span class="label label-primary pull-right">4</span>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->