<!doctype html>
<html lang="ro">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {{ assets({files: [
      '@public/css/bootstrap.min.css',
      ], name: 'app-home-header.css'})
    }}

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{ assets({files: [
      '@public/js/jquery.slim.min.js',
      '@public/js/popper.min.js',
      '@public/js/bootstrap.min.js',
      ], name: 'app-home-footer.js'})
    }}
  </body>
</html>